@font-face {
  font-family: "GraphikLCG-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/GraphikLCG-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GraphikLCG-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/GraphikLCG-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "GraphikLCG-Light";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/GraphikLCG-Light.woff2") format("woff2");
}